*{
    margin: 0px;
    padding: 0px;
    
    color: #fff;
    
    
}


body{
        
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        

    }   
    
    #container{
        width: 1100px;
        margin: 0px auto;
        


    }
    
    header{
        
        text-align: center;
        line-height: 100px;
        font-family: "Algerian", sans-serif;
        height: 100px;
        width: 100%;

    }
    nav{
        height: 50px;
        border: 1px solid;
    }
    nav ul li{
        float: left;
        list-style: none;
        margin: 10px;
        line-height:30px;
    }
    
.clearflix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    padding: 40px;
    min-height: 500px;


}
.article{
   
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    
   

}
.Titulos{
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

aside{
    float: left;
    width: calc(20% - 20px) ;
    ;
    min-height: 500px;
    padding: 10px;


}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-color: rgba(0, 0, 0, 0.568);
  }
  

  .espaciador {
    margin-top: 35px; 
    }

    
    .espaciadorP {
    margin-top: 15px; 
    }
    p {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.Slide-track{
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(200px * 14);
    -webkit-animation: scroll 30s linear infinite;
}

.Slider .slide{
    width: 200px;
}
.Slider .slide img{
    width: 100%;
}
@keyframes scroll {
    0%{
        -webkit-transform:  translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform:  translateX(Calc(-200px * 5));
        transform: translateX(Calc(-200px * 5));
    }
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: rgb(0, 0, 146);
  }
  